

header .container {
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.nav {
  display: flex;
}

.nav a {
  color: #fff;
}

.nav li {
  position: relative;
  cursor: pointer;
}

.nav li + li {
  margin-left: 30px;
}

.nav li::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(33,33,33);
  transition: background-color 0.6s ease, transform 0.6s ease;
  z-index: 1000;
}

.scrollou {
  transform: translateY(-100%);
}

.visible {
  color: #fff;
}

.dropdownMenu {
  display: none;
  position: absolute;
  background: #fff;
  padding: 10px 30px;
  margin-top: 15px;
  border: 3px solid #000;
}
 
.dropdownMenu li {
  color: #232323;
  margin-bottom: 15px;
}

.dropdownMenu li::after {
  background-color: #232323;
}

.dropdownMenu.ativo {
  display: block;  
}

